<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Skyens Børn.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F25E60F323D73D6A00D7DC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F25E610D23D73D6F00D7DC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F25E611823D73D6F00D7DC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
